<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <basicHttpsBinding>
            <binding name="BasicHttpsBinding_IKwendaService"
                     closeTimeout="00:50:00" openTimeout="00:50:00" receiveTimeout="00:50:00"
                     sendTimeout="00:50:00"
                     maxBufferSize="2147483647"
                     maxBufferPoolSize="2147483647"
                     maxReceivedMessageSize="2147483647">
              <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                            maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            </binding>
          </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://services.mawingu.se/kwenda/kwendaservice.svc"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IKwendaService"
                contract="Kwenda.IKwendaService" name="BasicHttpsBinding_IKwendaService" />
        </client>
    </system.serviceModel>
</configuration>