<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="secureHttpConfig_IKwendaService" 
                    maxBufferSize="67108864"
                    maxReceivedMessageSize="67108864"
                    >
                    <security mode="Transport" />
                    <readerQuotas 
                        maxDepth="4096" 
                        maxStringContentLength="67108864"
                        maxArrayLength="4096" 
                        maxBytesPerRead="67108864" 
                        />
                </binding>
                <binding name="plainHttpConfig_IKwendaService" 
                    maxBufferSize="67108864"
                    maxReceivedMessageSize="67108864"
                    >
                    <readerQuotas 
                        maxDepth="4096" 
                        maxStringContentLength="67108864"
                        maxArrayLength="4096" 
                        maxBytesPerRead="67108864" 
                        />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint name="secureEndpoint_IKwendaService" 
                address="https://services.mawingu.se/kwenda/kwendaservice.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="secureHttpConfig_IKwendaService"
                contract="Kwenda.IKwendaService" 
                />
        </client>
    </system.serviceModel>
</configuration>