<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="secureHttpConfig_IKwendaService" maxBufferSize="67108864"
                    maxReceivedMessageSize="67108864">
                    <readerQuotas maxDepth="4096" maxStringContentLength="67108864"
                        maxArrayLength="4096" maxBytesPerRead="67108864" />
                    <security mode="Transport" />
                </binding>
                <binding name="plainHttpConfig_IKwendaService" maxReceivedMessageSize="67108864" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.mawingu.se/kwenda/kwendaservice.svc"
                binding="basicHttpBinding" bindingConfiguration="plainHttpConfig_IKwendaService"
                contract="Kwenda.IKwendaService" name="plainEndpoint_IKwendaService" />
        </client>
    </system.serviceModel>
</configuration>