<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpsBinding>
                <binding name="BasicHttpsBinding_IKwendaService" />
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://services.mawingu.se/kwenda/kwendaservice.svc"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IKwendaService"
                contract="Kwenda.IKwendaService" name="BasicHttpsBinding_IKwendaService" />
        </client>
    </system.serviceModel>
</configuration>